<h1 class="mt-5">Home</h1>
<p class="lead mb-3">
	Welcome
	<a class="btn btn-info" href="/users/<%= user.id %>"><%= user.name %></a>
</p>

<%- include ("partials/messages") %>

<!-- Button trigger modal -->
<button
	type="button"
	class="btn btn-primary"
	data-bs-toggle="modal"
	data-bs-target="#composePost"
>
	Post
</button>

<!-- 
	$("#composePost").on("loaded.bs.modal", function (e) {
		if (typeof history.pushState != "undefined") {
			let obj = { Title: "Compose", Url: "compose/post" };
			history.pushState(obj, obj.Title, obj.Url);
		}
	});
 -->

<!-- Modal -->
<%- include ("modals/post") %>

<a href="/users/logout" class="btn btn-danger">Logout</a>

<br /><br />
<% for(let i=0; i < posts.length; i++) {%>
<div class="card text-white bg-info mb-3" style="max-width: 25rem">
	<div class="card-header"><%= posts[i].name %></div>
	<div class="card-body">
		<p class="card-text"><%= posts[i].text %></p>
	</div>
	<div class="card-footer">
		<h6><%= posts[i].created_at %></h6>
	<a href="/comments/<%= posts[i].post_id %>" display: block height: 100% >comments</a>

	</div>
</div>
<% } %>

<div>
	<ul class="pagination">
		<!-- prev arrow -->
		<% if(page > 1) { %> 
			<li class="page-item">
				<a class="page-link" href="/home/?page=<%=page-1%>">&laquo;</a>
	  		</li> 
		<% } %>
	  
	  	<% for(let i = iterator; i <= endingLink; i++) { %>
			<!-- active page -->
			<% if(i === page) { %>
				<li class="page-item active">
					<a class="page-link" href="/home/?page=<%=i%>"><%=i%></a>
				</li>
				<% continue; %>
			<% } %>
			<!-- all other pages -->
				<li class="page-item">
					<a class="page-link" href="/home/?page=<%=i%>"><%=i%></a>
				</li>
		<% } %>
		<!-- next arrow -->
	  	<% if(page < numberOfPages) { %> 
			<li class="page-item">
				<a class="page-link" href="/home/?page=<%=page+1%>">&raquo;</a>
	  		</li> 
		<% } %>
	</ul>
</div>

<a class="btn btn-primary" href="#top">Back to top</a>
<br>

<script src="/javascripts/char-counter.js"></script>
