<h2 class="mt-5">comments</h2>
<a href="/home" class="btn btn-info" style="position: absolute; right: 20px">
	Go Back
</a>
<div class="card text-white bg-info mb-3" style="max-width: 25rem">
	<div class="card-header"><%= post[0].name %></div>
	<div class="card-body">
		<p class="card-text"><%= post[0].text %></p>
	</div>
	<div class="card-footer">
		<h6><%= post[0].created_at %></h6>
	</div>
</div>

<%- include ("partials/messages") %>

<div class="form-group">
	<form
		id="formComment"
		action="/comments/<%= post[0].post_id %>/users/<%= post[0].id %>"
		method="POST"
	>
		<div class="form-group form-floating">
			<textarea
				class="form-control required"
				placeholder="Type here ..."
				id="floatingTextarea2"
				name="comment_Text"
				style="height: 100px"
			></textarea>
			<label for="floatingTextarea2">Comment</label>
			<div id="character-counter">
				<span id="typed-characters">0</span>
				<span>/</span>
				<span id="maximum-characters">140</span>
			</div>
		</div>
		<button
			type="submit"
			id="postButton"
			form="formComment"
			class="btn btn-primary"
		>
			Add comment
		</button>
	</form>
</div>

<% for(let i=0; i < comments.length; i++) {%>
<div>
	<br />
	<h5><%= comments[i].name %></h5>
	<p><%= comments[i].text %></p>
</div>
<% } %>
<br />
<div>
	<ul class="pagination">
		<!-- prev arrow -->
		<% if(page > 1) { %>
		<li class="page-item">
			<a
				class="page-link"
				href="/comments/<%= post[0].post_id %>/?page=<%=page-1%>"
				>&laquo;</a
			>
		</li>
		<% } %> <% for(let i = iterator; i <= endingLink; i++) { %>
		<!-- active page -->
		<% if(i === page) { %>
		<li class="page-item active">
			<a
				class="page-link"
				href="/comments/<%= post[0].post_id %>/?page=<%=i%>"
				><%=i%></a
			>
		</li>
		<% continue; %> <% } %>
		<!-- all other pages -->
		<li class="page-item">
			<a
				class="page-link"
				href="/comments/<%= post[0].post_id %>/?page=<%=i%>"
				><%=i%></a
			>
		</li>
		<% } %>
		<!-- next arrow -->
		<% if(page < numberOfPages) { %>
		<li class="page-item">
			<a
				class="page-link"
				href="/comments/<%= post[0].post_id %>/?page=<%=page+1%>"
				>&raquo;</a
			>
		</li>
		<% } %>
	</ul>
</div>

<script src="/javascripts/char-counter.js"></script>
