<h1 class="mt-5">Profile</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/home" class="btn btn-info">Go Home</a>
<br /><br />
<% for(let i=0; i < posts.length; i++) {%>
<div class="card text-white bg-info mb-3" style="max-width: 25rem">
	<div class="card-header">
		<%= posts[i].name %>

		<button
			type="button"
			class="btn btn-danger"
			data-bs-toggle="modal"
			data-bs-target="#deletePost"
			style="position: absolute; right: 20px"
		>
			Delete
		</button>
		<%- include ("modals/delete", {i: i}) %>
	</div>
	<div class="card-body">
		<p class="card-text"><%= posts[i].text %></p>
	</div>
	<div class="card-footer">
		<h6><%= posts[i].created_at %></h6>
	<a href="/comments/<%= posts[i].post_id %>" display: block height: 100% >comments</a>

	</div>
	<!-- <small><%= posts[i].created_at %></small> -->
</div>
<% } %>

<a href="/users/logout" class="btn btn-danger">Logout</a>

<button
	type="button"
	class="btn btn-danger"
	data-bs-toggle="modal"
	data-bs-target="#deleteUser"
	style="position: absolute; right: 20px"
>
	Delete Account
</button>
<%- include ("modals/deleteUser") %>
